[submodule "chat-server"]
	path = chat-server
	url = git@github.com:Madslick/chat-server.git
[submodule "chatter-client-go"]
	path = chatter-client-go
	url = git@github.com:Madslick/chatter-client-go.git
